<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="flexbox1">
                <div class="cards1">
                    <form [formGroup]="myForm" (ngSubmit)="adduser(myForm.value)">
                        <input type="text" formControlName="username" placeholder="Username" class="form-control mt10">
                        <input type="text" formControlName="password" placeholder="Password" class="form-control mt10">
                        <input type="text" formControlName="email" placeholder="Email" class="form-control mt10">
                        <button class="mt10 form-control btn btn-primary btn-sm">Add User</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>