.flexbox1{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.cards{
    padding:10px;
    box-shadow: 0 8px 6px -6px black;
    background-color: beige;
}
.margtop10{
    margin-top:10px;
}