<div class="flexbox1">
  <div class="cards">
    <label>Login</label>
    <div *ngIf="errorMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
      {{errorMsg}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="username" placeholder="Username" class="form-control margtop10">
      <input type="password" formControlName="password" placeholder="Password" class="form-control margtop10">
      <button class="form-control btn btn-primary margtop10">Login</button>
    </form>
  </div>
</div>