<div class="flexbox1">
    <div class="cards1">
        <label>Change Password</label>
        <form [formGroup]="myForm" (ngSubmit)="changepass(myForm.value)">
            <input type="text" formControlName="password" placeholder="Old Password" class="form-control mt10">
            <input type="text" formControlName="newpassword" placeholder="New Password" class="form-control mt10">
            <input type="submit" class="mt10 form-control btn btn-primary btn-sm" value="Change Password">
        </form>
    </div>
</div>