<div class="cards1">
    <div class="inner" *ngIf="!edit">
        <div class="grid-container">
            <div class="item1">
                <div class="aI">
                    <img [src]="details?.data.profile_image">
                </div>
            </div>
            <div class="item2 content">
                {{username}} <br>
                {{details?.data.mobile}}
            </div>
            <div class="item3 title">
                Name: <br>
                Mobile
            </div>
        </div>
        <div class="innrbtn">
            <button class="btn btn-primary btn-sm" (click)="onEdit()">Edit</button>
        </div>
    </div>
    <div class="inner" *ngIf="edit">
        <form [formGroup]="myForm" (ngSubmit)="updateprofile(myForm.value)">
            <input type="text" formControlName="mobile" placeholder="Phone Number" class="form-control"
                [ngStyle]="{'margin-bottom':'5px'}">
            <div class="innrbtn">
                <input type="submit" class="btn btn-primary btn-sm" [ngStyle]="{'margin-top':'5px'}" value="Save">
            </div>
        </form>
    </div>
</div>