.cards1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.inner{
    background-color: rgba(238, 238, 238, 0.616);
    border-radius: 20px;
    height: auto;
    width: 70%;
    padding: 20px;
}
.innrbtn{
  display: flex;
  justify-content: center;
}

.item1 { grid-area: photo; }
.item2 { grid-area: content; }
.item3 { grid-area: title; }


.grid-container {
  display: grid;
  grid-template-areas:
    'photo title content content content'
    'photo title content content content';
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  /* text-align: center; */
  padding: 20px 0;
}

.aI{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 30;
    font-weight: bold;
}
.content{
    font-size: 15;
}