<div class="flexbox1">
    <div class="cards1">
        <label>Upload DP Image</label>
        <input type="file" (change)="onFileChanged($event)" class="form-control mt10">
        <button class="mt10 form-control btn btn-primary btn-sm" (click)="upload()">Upload Image</button>
    </div>
</div>