<div class="container-fluid">
    <div class="row" [ngStyle]="{'border-bottom':'1px solid rgb(211, 211, 211)'}">
        <div class="sideflex">
            <div class="sidebutton" (click)="changepass()">
                Change Password
            </div>
            <div class="sidebutton" (click)="Uploadimage()">
                Photo Upload
            </div>
        </div>
    </div>
    <div class="row">
        <div [ngStyle]="{'width':'100%'}">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>