

.sideflex{
    display: flex;
    align-items: center;
}

.sidebutton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 25px;
    font-size: 12px;
    border-right: 1px solid rgb(211, 211, 211);
}
.sidebutton:hover{
    color: rgb(128, 128, 128);
    cursor: pointer;
}
.bb{
    border: 1px solid rgb(211, 211, 211);
}