<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of employeeList">
            <th scope="row">{{i}}</th>
            <td>{{item.username}}</td>
            <td>{{item.email}}</td>
            <td><button (click)="changeStatus(item.pid)"
                [ngClass]="!item.active ? 'btn btn-success' : 'btn btn-danger'">{{!item.active? "Activate":"DeActivate"}}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>